<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ChatLog</title>
  <link rel="stylesheet" href="/public/main.css">
</head>
<body style="background-color:lightblue;">
  <div class="container-fluid" >
    <h1 style=" color:blueviolet;text-align: center;" ><span>ℂhat ⊰❣⊱ ℂhat</span></h1>
 </div>
  <div class="mario-chat">
    <div class="chat-window" style="background-color: mintcream;">
      <div class="output" id="output">
        <% messages.map(msg => { %>
          <p><strong><%= msg.name %>: </strong><%= msg.message %></p>
        <% }); %>
      </div>
      <div id="feedback"></div>
    </div>
    <input type="text" id="name" placeholder="Name">
    <input type="text" id="message" placeholder="Message">
    <button id="send">Send</button>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/public/main.js"></script>
</body>
</html>
